@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}
